<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Library</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">

                    <li>
                        <a href="/books">Book</a>
                    </li>

                    <li>
                        <a href="/authors">Author</a>
                    </li>

                </ul>
                <ul class="nav navbar-right navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
                        <ul class="dropdown-menu" style="padding:12px;">
                            <form class="form-inline">
                                <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input
                                    type="text" class="form-control pull-left" placeholder="Search">
                            </form>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Library
                        <p class="lead"></p>
                    </h1>
                </div>
                <div class="col-md-5">
                    <div class="well well-lg">
                        <div class="row">
                            <div class="col-sm-12">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /cont -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-spacer"> </div>
                </div>
            </div>
        </div><!-- /cont -->

    </div>


    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="panel">
                    <div class="panel-body">



                        <!--/stories-->

                        <div class="row">
                            <br>
                            <div class="col-md-2 col-sm-3 text-center">
                                <a class="story-title" href="#"><img alt="" src="http://api.randomuser.me/portraits/thumb/men/58.jpg"
                                        style="width:100px;height:100px" class="img-circle"></a>
                            </div>
                            <div class="col-md-10 col-sm-9">
                                <h3>
                                    <%= book.title %>
                                </h3>
                                <div class="row">
                                    <div class="col-xs-9">
                                        <h4><span class="label label-default">
                                                <%= book.author %></span></h4>
                                        <h4>
                                        </h4>
                                    </div>
                                    <div class="col-xs-3"></div>
                                </div>
                                <br><br>

                            </div>
                            <form action="" method="post">
                                <input class="form-control" id="id" value="<%= book.id %>" type="hidden">
                                <div class="col-md-10 col-sm-9">
                                    <label for="">OrderNumber(Testing)</label>
                                    <input class="form-control" name="orderId" id="orderId" value=""
                                        type="number">
                                </div>
                                <div class="col-md-10 col-sm-9">
                                    <h2>Rate this book</h2>
                                    <div class="col-sm-12" id="star_rating">
                                        <img id="1_star" src="/images/star-off.png" alt="1" tittle="Bad">
                                        <img id="2_star" src="/images/star-off.png" alt="2" tittle="Poor">
                                        <img id="3_star" src="/images/star-off.png" alt="3" tittle="Fair">
                                        <img id="4_star" src="/images/star-off.png" alt="4" tittle="Good">
                                        <img id="5_star" src="/images/star-off.png" alt="5" tittle="Excellent">

                                        <span id="showTitle"></span>
                                    </div>
                                    <br><br>
                                    <br><br>
                                </div>
                                <div class="col-md-10 col-sm-9">
                                    <div class="form-group ">
                                        <label for="">Write your review</label>
                                        <textarea name="review" id="review" rows="8" cols="80" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group ">
                                        <input type="submit" id="rate" value="Create" class="form-control btn 
                                        btn-primary"
                                            name="rate">
                                    </div>
                                </div>

                            </form>
                            <!-- <form action="/team_name_url/" method="post">
                                <label for="team_name">Enter name: </label>
                                <input id="team_name" type="text" name="name_field" value="Default name for team.">
                                <input type="submit" value="OK">
                            </form> -->
                        </div>
                        <hr>

                        <!--/stories-->


                        <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>



                    </div>
                </div>



            </div>
            <!--/col-12-->
        </div>
    </div>
    <!-- <form action="/review/<%= book.id %>" method="post">
        <label for="team_name">Enter name: </label>
        <input id="team_name" type="number" name="orderID" value="Default name for team.">
        <input type="submit" value="OK">
    </form> -->

    <hr>

    <div class="container" id="footer">
        <div class="row">
            <div class="col col-sm-12">

            </div>
        </div>
    </div>

    <hr>

    <hr>


    <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/rating.js"></script>
</body>

</html>